$yellow: #ffcd00;
$darkYellow: #E9BB00;
$black: #201c1c;
$white: #FAFAFA;
$darkGray: #1f2526;
$lightGray: #4c5151;
$red: red;

$orange: #ED6E30;
$darkOrange: #E52E2E;
$lightOrange: #F49C7D;
$blue: #50c497;
$darkBlue: #168057;
$lightBlue: #aeeed5 ;

$generalFontSize: 2em;