/*----------Background-Colors------*/
.bgYellow{
    background-color: $yellow;
}
.bgDarkYellow{
    background-color: $darkYellow;
}
.bgRed{
    background-color: $red;
}
.bgLightBlue{
    background-color: $lightOrange;
}
.bgBlue{
    background-color: $blue;
}
.bgDarkBlue{
    background-color: $darkBlue;
}
.bgLightBlue{
    background-color: $lightBlue;
}

.bgBlack{
    background-color: $black;
}

.bgDarkGray{
    background-color: $darkGray;
}
.bgLightGray{
    background-color: $lightGray;
}
.bgWhite{
    background-color: $white;
}