/*----------Buttons---------*/
.lgBtn{
    margin-top: 15px;
    padding: 10px 100px;
    text-decoration: none;
    display: inline-block;
}

.smBtn{
    margin-top: 15px;
    padding: 10px 50px;
    text-decoration: none;
    display: inline-block;
}